[Unit]
Description=DNSPod DDNS Client
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/local/bin/ddns --domain example.com --sub-domain ddns
EnvironmentFile=-/etc/default/ddns
Environment="RUST_LOG=info"

User=ddns-user
Group=ddns-user

Type=simple
Restart=on-failure
RestartSec=30s
TimeoutStopSec=30s
KillMode=process

StandardOutput=journal
StandardError=journal

ProtectSystem=full
ProtectHome=true
PrivateTmp=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target